<section class="section m-quaternary m-border-top">
<div class="container">
<h1>404</h1>
<blockquote><span class="icon">​</span>
<p><span>Ця сторінка була видалена або переміщена. Але ви можете дізнатися, що ми вміємо.</span></p>
</blockquote>
<div class="c-grid m-links-grid">
<div class="links-grid__item">
<a class="links-grid__title" href="semejnoe-pravo/">Сімейні суперечки:</a>
<ul>
<li><span>шлюбні процеси</span></li>
<li><span>діл майна</span></li>
<li><span>стягнення аліментів</span></li>
<li><span>визначення місця проживання дітей</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="dogovornoe-pravo-i-dogovor/">Договірна робота:</a>
<ul>
<li><span>аудит договорів</span></li>
<li><span>розробка договорів</span></li>
<li><span>супровід угод</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="pensionnye-spory/">Пенсійні суперечки:</a>
<ul>
<li><span>перерахунок пенсій (зокрема і спеціальних) у судовому порядку</span></li>
<li><span>призначення пенсій з урахуванням списків № 1 та № 2</span></li>
<li><span>судовий контроль за виконанням рішень судів</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="avtoadvokat/">Автоадвокат:</a>
<ul>
<li><span>виїзд на місце ДТП</span></li>
<li><span>захист інтересів усіх учасників ДТП</span></li>
<li><span>оскарження незаконних дій співробітників поліції</span></li>
<li><span>стягнення страхового відшкодування</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="yurist-po-nedvizhimosti/">Операції з нерухомістю:</a>
<ul>
<li><span>супровід угод купівлі-продажу</span></li>
<li><span>оцінка нерухомості</span></li>
<li><span>складання проектів договорів купівлі-продажу, міни, дарування</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="spory-s-bankami/">Стягнення заборгованості:</a>
<ul>
<li><span>повернення боргу за розпискою</span></li>
<li><span>повернення боргу за договорами постачання, послуг, підряду та ін.</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="ispolnitelnoe-proizvodstvo/">Виконавче провадження:</a>
<ul>
<li><span>накладення арешту на майно боржника</span></li>
<li><span>оскарження дій та бездіяльності виконавця</span></li>
<li><span>оскарження оцінки</span></li>
<li><span>затягування виконавчого провадження</span></li>
<li><span>оскарження торгів</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="spory-s-bankami/">Банківські суперечки:</a>
<ul>
<li><span>визнання недійсними договорів кредиту, застави, іпотеки</span></li>
<li><span>припинення поруки</span></li>
<li><span>реструктуризація заборгованості</span></li>
<li><span>затягування судових процесів</span></li>
<li><span>затягування виконавчих проваджень</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="mikrozajm/">Мікрозайми:</a>
<ul>
<li><span>заборона розповсюдження даних про боржника третім особам</span></li>
<li><span>відкриття кримінальних проваджень за вимаганням</span></li>
<li><span>антиколекторські послуги</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="ugolovnoe-pravo/">Кримінальні справи:</a>
<ul>
<li><span>супровід обшуків</span></li>
<li><span>супровід допитів</span></li>
<li><span>оскарження незаконного затримання</span></li>
</ul>
</div>
<div class="links-grid__item">
<a class="links-grid__title" href="zashhita-interesov-v-sudah/">Захист інтересів у судах:</a>
<ul>
<li><span>написання позовів, скарг, заяв, клопотань, заперечень, пояснень</span></li>
<li><span>цивільні суперечки</span></li>
<li><span>сімейні суперечки</span></li>
<li><span>господарські суперечки</span></li>
<li><span>адвокат з ДТП</span></li>
<li><span>кримінальні справи</span></li>
<li><span>банкрутства</span></li>
</ul>
</div>
</div>
</div>
</section>
