<section class="section m-quaternary m-border-top">
<div class="container">
<h1>404</h1>
<blockquote><span class="icon">​</span>
<p><span>Ця сторінка була видалена або переміщена. Але ви можете дізнатися, що ми вміємо.</span></p>
</blockquote>
<div class="c-grid">
<p><a class="decor" href="semejnoe-pravo/">Сімейні суперечки:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>шлюбні процеси</span></li>
<li class="styleList"><span>діл майна</span></li>
<li class="styleList"><span>стягнення аліментів</span></li>
<li class="styleList"><span>визначення місця проживання дітей</span></li>
</ul>
<p><a class="decor" href="dogovornoe-pravo-i-dogovor/">Договірна робота:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>аудит договорів</span></li>
<li class="styleList"><span>розробка договорів</span></li>
<li class="styleList"><span>супровід угод</span></li>
</ul>
<p><a class="decor" href="pensionnye-spory/">Пенсійні суперечки:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>перерахунок пенсій (зокрема і спеціальних) у судовому порядку</span></li>
<li class="styleList"><span>призначення пенсій з урахуванням списків № 1 та № 2</span></li>
<li class="styleList"><span>судовий контроль за виконанням рішень судів</span></li>
</ul>
<p><a class="decor" href="avtoadvokat/">Автоадвокат:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>виїзд на місце ДТП</span></li>
<li class="styleList"><span>захист інтересів усіх учасників ДТП</span></li>
<li class="styleList"><span>оскарження незаконних дій співробітників поліції</span></li>
<li class="styleList"><span>стягнення страхового відшкодування</span></li>
</ul>
<p><a class="decor" href="yurist-po-nedvizhimosti/">Операції з нерухомістю:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>супровід угод купівлі-продажу</span></li>
<li class="styleList"><span>оцінка нерухомості</span></li>
<li class="styleList"><span>складання проектів договорів купівлі-продажу, міни, дарування</span></li>
</ul>
<p><a class="decor" href="spory-s-bankami/">Стягнення заборгованості:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>повернення боргу за розпискою</span></li>
<li class="styleList"><span>повернення боргу за договорами постачання, послуг, підряду та ін.</span></li>
</ul>
<p><a class="decor" href="ispolnitelnoe-proizvodstvo/">Виконавче провадження:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>накладення арешту на майно боржника</span></li>
<li class="styleList"><span>оскарження дій та бездіяльності виконавця</span></li>
<li class="styleList"><span>оскарження оцінки</span></li>
<li class="styleList"><span>затягування виконавчого провадження</span></li>
<li class="styleList"><span>оскарження торгів</span></li>
</ul>
<p><a class="decor" href="spory-s-bankami/">Банківські суперечки:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>визнання недійсними договорів кредиту, застави, іпотеки</span></li>
<li class="styleList"><span>припинення поруки</span></li>
<li class="styleList"><span>реструктуризація заборгованості</span></li>
<li class="styleList"><span>затягування судових процесів</span></li>
<li class="styleList"><span>затягування виконавчих проваджень</span></li>
</ul>
<p><a class="decor" href="mikrozajm/">Мікрозайми:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>заборона розповсюдження даних про боржника третім особам</span></li>
<li class="styleList"><span>відкриття кримінальних проваджень за вимаганням</span></li>
<li class="styleList"><span>антиколекторські послуги</span></li>
</ul>
<p><a class="decor" href="ugolovnoe-pravo/">Кримінальні справи:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>супровід обшуків</span></li>
<li class="styleList"><span>супровід допитів</span></li>
<li class="styleList"><span>оскарження незаконного затримання</span></li>
</ul>
<p><a class="decor" href="zashhita-interesov-v-sudah/">Захист інтересів у судах:</a></p>
<ul class="myList" type="disc">
<li class="styleList"><span>написання позовів, скарг, заяв, клопотань, заперечень, пояснень</span></li>
<li class="styleList"><span>цивільні суперечки</span></li>
<li class="styleList"><span>сімейні суперечки</span></li>
<li class="styleList"><span>господарські суперечки</span></li>
<li class="styleList"><span>адвокат з ДТП</span></li>
<li class="styleList"><span>кримінальні справи</span></li>
<li class="styleList"><span>банкрутства</span></li>
</ul>
</div>
</div>
</section>