<section class="section m-quaternary section-breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs list-unstyled">
            <li class="breadcrumbs__item"><a href="/">Головна</a></li>
            <li class="separator">&gt;</li>
            <li class="breadcrumbs__item">КОНТАКТИ</li>
        </ul>
    </div>
</section>

<section class="section m-quaternary">
    <div class="container">
        <h2>Контакти</h2>

        <div class="map">
            <iframe
            src="https://www.google.com/maps/d/embed?mid=14_TmaEkGkmE9IxUlprourMKNS8q3nrky&ehbc=2E312F&z=6&ll=49.33553,32.146197&hl=uk"
            width="100%" height="100%" style="border:0;"  loading="lazy"  allowfullscreen
          ></iframe>          
        </div>

        <div class="map-info">
            <div class="h3 map-info__header">Адреси офісів та філій у Харкові та Вінниці</div>
            <div class="map-info__body">
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    <a href=""><strong>ГОЛОВНИЙ ОФІС в м.Харків</strong> - Площа Конституції, 1</a>   
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката на Гагаріна - Проспект Гагаріна, 20
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката на Площі Повстання - Площа Захисників України (Повстання), 7/8
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката в Центрі на Римарській - Вулиця Римарська, д. 25
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката на Нових Домах - Вулиця Маршала Рибалка, д. 40
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката на Нових Будинках - Вулиця Танкопія, д. 6А
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката на Салтівці - Вулиця Наталії Ужвій, д. 98
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката у Вінниці - Вулиця Князів Коріатовичів, б. 172
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката у Києві - Вулиця Велика Васильківська, 116
                </div>
                <div class="map-info__address">
                    <svg width="24" height="24">
                        <use xlink:href="#svg-location" />
                    </svg>
                    Офіс адвоката в Одесі - Вулиця Єврейська, 10
                </div>
            </div>
        </div>
    </div>
</section>

