<footer class="footer">
  <div class="footer__top">
      <div class="container footer__container">
          <div class="footer__column">
              <a href="/" class="footer__logo logo">
                  <img src="/assets/static/images/logo.svg" alt="VSUDI Logo" class="logo__image" />
              </a>
              <p>© 2023 в Суді</p>
              <p>Адвокат Харків - Юридичні послуги</p>
          </div>
          <div class="footer__column">
              <ul class="footer-nav">
                  <li><a href="">Шаблони документів</a></li>
                  <li><a href="">Публікації</a></li>
                  <li><a href="">Політика конфідийності</a></li>
                  <li><a href="">Адвокат</a></li>
              </ul>
          </div>
          <div class="footer__column">
              <ul class="social">
                  <li><a href="https://www.youtube.com/" aria-label="youtube">
                          <svg width="32" height="32">
                              <use xlink:href="#youtube" />
                          </svg>
                      </a></li>
                  <li><a href="https://www.youtube.com/" aria-label="youtube">
                          <svg width="32" height="32">
                              <use xlink:href="#telegram" />
                          </svg>
                      </a></li>
                  <li><a href="https://www.youtube.com/" aria-label="youtube">
                          <svg width="32" height="32">
                              <use xlink:href="#instagram" />
                          </svg>
                      </a></li>
                  <li><a href="https://www.youtube.com/" aria-label="youtube">
                          <svg width="32" height="32">
                              <use xlink:href="#facebook" />
                          </svg>
                      </a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer__bottom">
      <div class="container">
          <ul class="footer-nav m-secondary">
              <li><a href="">Адвокат Київ</a></li>
              <li><a href="">Адвокат Полтава</a></li>
              <li><a href="">Адвокат Львів</a></li>
              <li><a href="">Адвокат Одеса</a></li>
              <li><a href="">Адвокат Вінниця</a></li>
              <li><a href="">Адвокат Дніпро</a></li>
              <li><a href="">Адвокат онлайн</a></li>
          </ul>
      </div>
  </div>
</footer>
