<section class="l-section m-inquiry">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="b-inquiry">
          <div class="b-inquiry-header">
            <img class="b-inquiry-header__image" src="/assets/static/images/inquire/avatars.svg"
              alt="Avatar illustration" />
            <h2 class="b-inquiry-header__title">
              Ready to make your dream real? <br />
              Send us an inquiry!
            </h2>
            <p class="b-inquiry-header__subtitle">We will reply within 30m.</p>
          </div>

          <div include-html="/template/forms/form.html"></div>

          <div class="b-inquiry-footer">
            <p class="b-inquiry-footer__text">
              +10,000 people have already used our services. You are in good hands ❤️
            </p>
            <div class="b-inquiry-footer__image">
                <img class="hero__image" src="/assets/static/images/inquire/paper.svg" alt="paper image" />
            </div>
          </div>
        </div>
        <div class="b-inquiry-background d-none d-xs-none d-md-none">
          <div class="cover">
            <img class="cover-image m-left" src="/assets/static/images/hero/left-cover.svg" alt="cover image" />
            <img class="cover-image m-right" src="/assets/static/images/hero/right-cover.svg" alt="cover image" />
          </div>
          <div class="paper">
            <img class="paper-image m-left" src="/assets/static/images/hero/left-paper.svg" alt="paper image" />
            <img class="paper-image m-right" src="/assets/static/images/hero/right-paper.svg" alt="paper image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
