<section class="l-section m-hero m-full-height">
  <div class="hero-background d-xs-none d-md-none">
    <div class="hero-cover">
      <img class="cover-image m-left" src="/assets/static/images/hero/left-cover.svg" alt="cover image" />
      <img class="cover-image m-right" src="/assets/static/images/hero/right-cover.svg" alt="cover image" />
    </div>
    <div class="hero-paper">
      <img class="paper-image m-left" src="/assets/static/images/hero/left-paper.svg" alt="paper image" />
      <img class="paper-image m-right" src="/assets/static/images/hero/right-paper.svg" alt="paper image" />
    </div>
  </div>
  <div class="hero-background__footer"></div>
  <div class="container d-lg-grid d-xl-grid z-10">
    <div class="row">
      <div class="col-12">
        <picture class="d-none d-xs-flex d-md-flex">
          <source media="(width <= 479.98px)" srcset="/assets/static/images/hero/paper-mobile.svg" type="image/webp" />
          <img class="hero__image" src="/assets/static/images/hero/paper-tablet.svg" alt="paper image" />
        </picture>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="hero">
          <div class="hero__content">
            <ul class="hero-countries__list">
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/poland.svg" alt="poland icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/hungary.svg" alt="hungary icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/czech-republic.svg" alt="czech republic icon" />
              </li>
              <li class="hero-countries__item d-xs-none">
                <img class="icon" src="/assets/static/icons/countries/serbia.svg" alt="serbia icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/lithuania.svg" alt="lithuania icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/germany.svg" alt="germany icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/slovakia.svg" alt="slovakia icon" />
              </li>
              <li class="hero-countries__item d-xs-none">
                <img class="icon" src="/assets/static/icons/countries/portugal.svg" alt="portugal icon" />
              </li>
              <li class="hero-countries__item">
                <img class="icon" src="/assets/static/icons/countries/turkey.svg" alt="turkey icon" />
              </li>
              <li class="hero-countries__item d-xs-none">
                <img class="icon" src="/assets/static/icons/countries/kyrgyzstan.svg" alt="kyrgyzstan icon" />
              </li>
              <li class="hero-countries__item d-xs-none">
                <img class="icon" src="/assets/static/icons/countries/ukraine.svg" alt="ukraine icon" />
              </li>
            </ul>
            <h1 class="hero__title">Quick and easy preparation <br>of the required documents</h1>
            <p class="hero__description">Our agency specializes in preparing documents <br>for various types of visas in +10 countries.</p>
            <button class="button button-primary w-sm-100 js-contact-us-btn" data-modal-target="ContactUsForm">Contact us</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5 d-xs-flex d-md-flex d-lg-none d-xl-none"></div>
    <div class="row gy-4 justify-content-center border-top-dashed">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-content">
            <img class="card-content__icon" src="/assets/static/icons/user_chat.svg" alt="user chat icon" />
            <div class="card-content__text">
              <div class="card-content__title">Personal support and assistance</div>
              <div class="card-content__description">Our managers are ready to help you at every step of the process
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-content">
            <img class="card-content__icon" src="/assets/static/icons/lightning.svg" alt="lighting icon" />
            <div class="card-content__text">
              <div class="card-content__title">Quick response to the inquiry</div>
              <div class="card-content__description">Our manager will contact you within 15 minutes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-content">
            <img class="card-content__icon" src="/assets/static/icons/shield-checkmark.svg"
              alt="shield checkmark icon" />
            <div class="card-content__text">
              <div class="card-content__title">Private and secure</div>
              <div class="card-content__description">We do not share or store your data or documents</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>