<section class="l-section">
  <div class="container">
    <div class="l-section__header m-managers" id="team">More about our managers</div>
    <div class="row m-managers-grid">
      <div class="col">
        <div class="card card-managers">
          <div class="card-body m-managers__grid">
            <img
              class="card-managers__img"
              src="../assets/static/icons/secure.svg"
              alt="icon"
            />
            <div class="card-managers__title">Specialists in their field</div>
            <div class="card-managers__subtitle">
              Our managers use 7 years of experience to find the right
              candidates and support you 24/7 with any issues.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-managers">
          <div class="card-body m-managers__grid">
            <img
              class="card-managers__img"
              src="../assets/static/icons/navigation.svg"
              alt="icon"
            />
            <div class="card-managers__title">
              Extensive connections around the world
            </div>
            <div class="card-managers__subtitle">
              With 7 years of experience, we’ve built strong partnerships,
              ensuring fast document processing and quick job placement.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-managers">
          <div class="card-body m-managers__grid">
            <img
              class="card-managers__img"
              src="../assets/static/icons/beauty.svg"
              alt="icon"
            />
            <div class="card-managers__title">Stress-Free employment</div>
            <div class="card-managers__subtitle">
              We undertake all interaction with the employer, curators,
              administrative institutions and actually solve 99% of issues
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
