<section class="l-section m-office">
  <div class="container">
    <div class="l-section__header m-office" id="offices">Offices</div>
    <div class="c-swiper swiper" data-carousel="OfficeCarousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card card-offices">
            <div class="card-body">
              <picture>
                <source media="(max-width: 1024px)" srcset="/assets/static/images/office/poland-office-mobile.svg" />
                <img class="card-offices__background" src="/assets/static/images/office/poland-office.svg" alt="poland office" loading="lazy" />
              </picture>
              <div class="card-badge">
                <img class="card-badge__icon" width="24px" height="24px"
                  src="../assets/static/icons/countries/poland.svg" alt="poland icon" />
                <p>Poland</p>
              </div>
              <!-- <a class="button m-watch">Watch Showreel
                <img class="icon" src="../assets/static/icons/play.svg" alt="play icon" /></a> -->
              <div class="card-footer">
                <div class="m-location">
                  <img class="icon" src="../assets/static/icons/pin.svg" alt="pin icon" />
                  Warsaw
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-offices">
            <div class="card-body">
              <picture>
                <source media="(max-width: 1024px)" srcset="/assets/static/images/office/ukraine-office-mobile.svg" />
                <img class="card-offices__background" src="/assets/static/images/office/ukraine-office.svg" alt="ukraine office" loading="lazy" />
              </picture>
              <div class="card-badge">
                <img class="card-badge__icon" width="24px" height="24px"
                  src="../assets/static/icons/countries/ukraine.svg" alt="ukraine icon" />
                <p>Ukraine</p>
              </div>
              <div class="card-footer">
                <div class="m-location">
                  <img class="icon" src="../assets/static/icons/pin.svg" alt="pin icon" />
                  Lviv
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-offices">
            <div class="card-body">
              <picture>
                <source media="(max-width: 1024px)" srcset="/assets/static/images/office/spain-office-mobile.svg" />
                <img class="card-offices__background" src="/assets/static/images/office/spain-office.svg" alt="spain office" loading="lazy" />
              </picture>
              <div class="card-badge">
                <img class="card-badge__icon" width="24px" height="24px"
                  src="../assets/static/icons/countries/spanish.svg" alt="spanish icon" />
                <p>Spain</p>
              </div>
              <div class="card-footer">
                <div class="m-location">
                  <img class="icon" src="../assets/static/icons/pin.svg" alt="pin icon" />
                  Madrid
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-controls m-office">
        <div class="swiper-button-prev">
          <img src="/assets/static/icons/arrow-icon-left.svg" alt="Previous" />
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next">
          <img src="/assets/static/icons/arrow-icon-right.svg" alt="Next" />
        </div>
      </div>
    </div>
  </div>
</section>
