<section class="l-section info">
  <div class="container">
    <div class="opportunities-content">
      <p class="opportunities-content__header-title">
        What opportunities are available with our services?
      </p>
      <div class="opportunities-content-info">
        <div class="opportunities-content-info__block">
          <img src="../assets/static/icons/school-board.svg" alt="board icon" />
          <p class="opportunities-content-info__title-about">Education</p>
          <p class="opportunities-content-info__subtitle-about">
            A business visa lets you expand globally, access new markets, and
            grow faster.
          </p>
        </div>
        <div class="opportunities-content-info__block">
          <img src="../assets/static/icons/business.svg" alt="business icon" />
          <p class="opportunities-content-info__title-about">Business</p>
          <p class="opportunities-content-info__subtitle-about">
            A business visa lets you expand globally, access new markets, and
            grow faster.
          </p>
        </div>
        <div class="opportunities-content-info__block">
          <img src="../assets/static/icons/office-work.svg" alt="office icon" />
          <p class="opportunities-content-info__title-about">Work</p>
          <p class="opportunities-content-info__subtitle-about">
            Legal work abroad means stable income, new experience, and a better
            future.
          </p>
        </div>
      </div>
      <div class="contact-info">
        <p class="contact-info__header">Don't miss your opportunities</p>
        <p class="contact-info__description">
          Contact us and get a <span>free</span> consultation
        </p>
        <button class="button button-primary btn-info">Contact us</button>
        <!-- <img src="../assets/static/images/docs.png" alt="" /> -->
      </div>
    </div>
  </div>
</section>
