<section class="l-section m-team-photo">
  <div class="container">
    <div class="photo-team">
      <picture>
        <source
          media="(max-width: 475px)"
          srcset="../assets/static/images/m-team-images.png"
        />
        <source
          media="(max-width: 1660px)"
          srcset="../assets/static/images/team-images.png"
        />
        <img
          src="../assets/static/images/team-images.png"
          alt="Team image"
          style="max-width: 100%; height: auto"
        />
      </picture>
    </div>
  </div>
</section>
