<section class="section m-quaternary section-breadcrumbs m-border-bottom">
    <div class="container">
        <ul class="c-breadcrumbs list-unstyled">
            <li class="c-breadcrumbs__item"><a href="/">Головна</a></li>
            <li class="separator">&gt;</li>
            <li class="c-breadcrumbs__item">Публікації</li>
        </ul>
    </div>
</section>

<section class="section m-quaternary successful-cases-section">
    <div class="container">
        <h1>Публікації</h1>

            <div class="c-grid m-flat-tiles">

                <a href="/" class="flat-tile">
                    <span class="flat-tile__text">Скасування наказу про звільнення поліцейського та стягнення грошових коштів</span>
                </a>

                <div class="flat-tile">
                    <span class="flat-tile__text">Призначення пенсії за вислугою років</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ВІЙСЬКОВИЙ ЮРИСТ</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ У СПАДКОВИХ СПРАВАХ</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ З ПОДАТКОВОГО ПРАВА</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ ІЗ ЗЕМЕЛЬНИХ ПИТАНЬ</span>
                </div>
            </div>
            <div class="c-pagination d-md-none">
                <a href="#" class="c-pagination__item m-prev m-disabled"><div class="sr-only">Previous page</div></a>
                <a href="#" class="c-pagination__item m-active">1</a>
                <a href="#" class="c-pagination__item">2</a>
                <a href="#" class="c-pagination__item">3</a>
                <div class="c-pagination__item m-unstyled">...</div>
                <a href="#" class="c-pagination__item">99</a>
                <a href="#" class="c-pagination__item m-next"><div class="sr-only">Next page</div></a>
            </div>
            <div class="text-center d-none d-md-block">
                <div class="c-indicator mb-2" data-component="LoadMoreIndicator">
                    <span class="js-page">1</span>/4
                </div>
                <button class="button m-small m-quaternary" data-component="LoadMoreButton" data-url="" data-page="1" data-page-count="4">Показати ще</button>
            </div>
    </div>
</section>
