<section class="l-section">
  <div class="container">
    <div class="l-section__header m-review" id="reviews">Reviews</div>
    <div class="c-swiper swiper" data-carousel="ReviewCarousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-26.png" alt="Review 26" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-27.png" alt="Review 27" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-28.png" alt="Review 28" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-29.png" alt="Review 29" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-30.png" alt="Review 30" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-26.png" alt="Review 26" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-26.png" alt="Review 26" class="review__image" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__content">
                <img src="/assets/static/images/reviews/review-26.png" alt="Review 26" class="review__image" />
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-controls m-review">
        <div class="swiper-button-prev">
          <img src="/assets/static/icons/arrow-icon-left.svg" alt="Previous" />
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next">
          <img src="/assets/static/icons/arrow-icon-right.svg" alt="Next" />
        </div>
      </div>
    </div>
  </div>
</section>
