<section class="l-section m-services">
  <div class="container services">
    <div class="row">
      <div class="col mb-8 mb-sm-5">
        <div class="l-section__header" id="services">Services</div>
        <div class="l-section__description m-services">We guide clients through every step of choosing a country and
          migrating. </br>Thanks to better conditions, we’re among the most recommended over seas staffing agencies.
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="service-card js-service-card">
            <div class="service-card__body">
              <div class="service-card__header">
                <img class="service-card__icon" src="/assets/static/icons/services/profile-card.svg"
                  alt="work visa icon" />
                <div class="service-card__title">Work Visa</div>
              </div>
              <div class="service-card__content">
                <div class="skeleton skeleton-w-8 skeleton-h-32px"></div>
                <div class="skeleton skeleton-w-12 skeleton-h-64px"></div>
              </div>
              <div class="service-card__footer"></div>
            </div>
            <div class="service-card__cover">
              <button class="button button-tertiary m-small js-contact-us-btn">Contact us</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="service-card js-service-card">
            <div class="service-card__body">
              <div class="service-card__header">
                <img class="service-card__icon" src="/assets/static/icons/services/business.svg"
                  alt="business visa icon" />
                <div class="service-card__title">Business Visa</div>
              </div>
              <div class="service-card__content">
                <div class="skeleton skeleton-w-6 skeleton-h-32px"></div>
                <div class="skeleton skeleton-w-8 skeleton-h-64px"></div>
              </div>
              <div class="service-card__footer"></div>
            </div>
            <div class="service-card__cover">
              <button class="button button-tertiary m-small js-contact-us-btn">Contact us</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="service-card js-service-card">
            <div class="service-card__body">
              <div class="service-card__header">
                <img class="service-card__icon" src="/assets/static/icons/services/state-viza.svg"
                  alt="state visa icon" />
                <div class="service-card__title">State Visa</div>
              </div>
              <div class="service-card__content">
                <div class="skeleton skeleton-w-8 skeleton-h-32px"></div>
                <div class="skeleton skeleton-w-12 skeleton-h-64px"></div>
              </div>
              <div class="service-card__footer"></div>
            </div>
            <div class="service-card__cover">
              <button class="button button-tertiary m-small js-contact-us-btn">Contact us</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="service-card js-service-card">
            <div class="service-card__body">
              <div class="service-card__header">
                <img class="service-card__icon" src="/assets/static/icons/services/map.svg" alt="tourist visa icon" />
                <div class="service-card__title">Tourist Visa</div>
              </div>
              <div class="service-card__content">
                <div class="skeleton skeleton-w-8 skeleton-h-32px"></div>
                <div class="skeleton skeleton-w-12 skeleton-h-64px"></div>
              </div>
              <div class="service-card__footer"></div>
            </div>
            <div class="service-card__cover">
              <button class="button button-tertiary m-small js-contact-us-btn">Contact us</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="service-card js-service-card">
            <div class="service-card__body">
              <div class="service-card__header">
                <img class="service-card__icon" src="/assets/static/icons/services/student.svg"
                  alt="student visa icon" />
                <div class="service-card__title">Student Visa</div>
              </div>
              <div class="service-card__content">
                <div class="skeleton skeleton-w-8 skeleton-h-32px"></div>
                <div class="skeleton skeleton-w-12 skeleton-h-64px"></div>
              </div>
              <div class="service-card__footer"></div>
            </div>
            <div class="service-card__cover">
              <button class="button button-tertiary m-small js-contact-us-btn">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>