<ul class="social-list">
    <li class="social-list__item">
        <a href="https://www.youtube.com/channel/UCeai_Ea_ZSnejcBeDcDs7lA"
            class="social-list__link m-youtube" aria-label="YouTube" title="YouTube">
            <svg width="32" height="22">
                <use xlink:href="#youtube" />
            </svg>
        </a>
    </li>
    <li class="social-list__item">
        <a href="https://t.me/AO_vSude" class="social-list__link" aria-label="Telegram"
            title="Telegram">
            <svg width="32" height="32">
                <use xlink:href="#telegram" />
            </svg>
        </a>
    </li>
    <li class="social-list__item">
        <a href="https://www.instagram.com/vsudi_advocate?utm_medium=copy_link"
            class="social-list__link" aria-label="Instagram" title="Instagram">
            <svg width="32" height="32">
                <use xlink:href="#instagram" />
            </svg>
        </a>
    </li>
    <li class="social-list__item">
        <a href="https://www.facebook.com/vSude.Advokat/" class="social-list__link"
            aria-label="Facebook" title="Facebook">
            <svg width="32" height="32">
                <use xlink:href="#facebook" />
            </svg>
        </a>
    </li>
</ul>