<section class="section m-quaternary section-breadcrumbs m-border-bottom">
    <div class="container">
        <ul class="breadcrumbs list-unstyled">
            <li class="breadcrumbs__item"><a href="/">Головна</a></li>
            <li class="separator">&gt;</li>
            <li class="breadcrumbs__item">Адвокат у адміністративних справах по ДТП</li>
        </ul>
    </div>
</section>

<section class="section m-quaternary successful-cases-section">
    <div class="container">
        <h1>Успішні справи адвокатів<br />
            Кайдашова В.С. та Хлопова А. В.</h1>

            <div class="flat-tiles__grid">

                <a href="/" class="flat-tile">
                    <span class="flat-tile__text">Скасування наказу про звільнення поліцейського та стягнення грошових коштів</span>
                </a>

                <div class="flat-tile">
                    <span class="flat-tile__text">Призначення пенсії за вислугою років</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ВІЙСЬКОВИЙ ЮРИСТ</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ У СПАДКОВИХ СПРАВАХ</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ З ПОДАТКОВОГО ПРАВА</span>
                </div>

                <div class="flat-tile">
                    <span class="flat-tile__text">ЮРИСТ ІЗ ЗЕМЕЛЬНИХ ПИТАНЬ</span>
                </div>
            </div>
            <div class="text-center">
                <button class="button m-quaternary">Показати ще</button>
            </div>
    </div>
</section>

<section class="section principles m-background m-border-top m-border-bottom">
    <div class="container">
        <h2>Принципи роботи</h2>
        <ul>
            <li>
                <svg width="64" height="64">
                    <use xlink:href="#svg-phone" />
                </svg>
                <p>Послуга 1<br>
                    Послуга 1<br>
                    Послуга 1
                </p>
            </li>
            <li>
                <svg width="64" height="64">
                    <use xlink:href="#advocat-po-narkotycam" />
                </svg>
                <p>Послуга 2</p>
            </li>
            <li>
                <svg width="64" height="64">
                    <use xlink:href="#svg-phone" />
                </svg>
                <p>Послуга 3<br>Послуга 3</p>
            </li>
        </ul>
    </div>
</section>

<section class="section m-quaternary m-border-top">
    <div class="container">
        <h2>Хто такий автоадвокат і для чого потрібні послуги адвоката з ДТП?</h2>
        <p>Автоадвокат – це практичний спеціаліст у галузі автомобільного права. Наша думка незмінна: при ДТП потрібна людина, яка знає всі тонкощі адміністративного права, вміє грамотно спілкуватися зі співробітниками правоохоронних органів та розуміє, як правильно вибудувати лінію поведінки.</p>
        <blockquote>
            <svg width="48" height="48" arria-hidden="true"><use xlink:href="#svg-faq-active"></use></svg>
            <p>На нашу думку, при дорожньо-транспортних пригодах у Харкові, Вінниці, Києві необхідно завжди запрошувати адвоката з ДТП, який спеціалізується на наданні послуг із захисту прав клієнта в цій галузі.</p>
        </blockquote>
    </div>
</section>

<section class="section consultation-block">
    <div class="container">
        <div class="consultation-block__content">
            <h3 class="consultation-block__title">Ми впевненні</h3>
            <p class="consultation-block__description">
                Ми впевненні, що адвокати «вСуді» зможуть знайти потрібне рішення
                саме для Вас! Зв'яжіться з нами — і ми обов'язково допоможемо Вам.
            </p>

            <form class="consultation-block__form">
                <label for="consultation-tel">Введіть номер телефону</label>
                <input
                    type="tel"
                    id="consultation-tel"
                    name="consultation-tel"
                    placeholder="+38(0__)___-___-__"
                    class="input-text consultation-block__input"
                />
                <button class="button m-primary consultation-block__submit">ОТРИМАТИ КОНСУЛЬТАЦІЮ</button>
            </form>

            <hr class="consultation-block__divider">

            <a href="" class="button m-secondary consultation-block__telegram">
                <svg width="32" height="32">
                    <use xlink:href="#telegram" />
                </svg>
                НАПИСАТИ В TELEGRAM
            </a>
        </div>
    </div>
</section>

<section class="section m-quaternary">
    <div class="container">
        <h2>Чому саме автоадвокат з ДТП, а не звичайний юрист?</h2>
        <p>
            В даному випадку відповідь проста: адже ви не звертаєтеся до окуліста, коли у вас болить вухо?
Оскільки для даної галузі права характерні часті зміни та велика кількість учасників, включаючи страхові компанії, державні органи, які відповідають за безпеку дорожнього руху – необхідний професіонал, юрист з ДТП, який знає всі нюанси подібних категорій справ.<br />
Автоюристи нашої компанії у Харкові, Вінниці та Києві – це висококваліфіковані фахівці, завданням яких є максимально грамотне, правильне та своєчасне виконання своєї роботи. Послуги автоюриста в Харкові, Вінниці, Києві які надає Адвокатське об'єднання «вСуді», ґрунтуються на багаторічній практиці та глибокому знанні нормативної бази.
        </p>
        <h4>
            До нас часто звертаються з різними ситуаціями:
        </h4>
        <ul class="highlighted-list">
            <li>сталася ДТП з серйозними наслідками (жертви, тяжкі тілесні ушкодження, пошкодження транспортних засобів та ін.);</li>
            <li>на клієнта склали протокол та буде слухатись справа про притягнення до адміністративної відповідальності;</li>
            <li>безпідставно звинуватили у вживанні алкоголю за кермом;</li>
            <li>автомобіль забрали на штрафмайданчик і не віддають;</li>
            <li>страхова подає регресний позов;</li>
            <li>страхова не виплачує страхове відшкодування;</li>
            <li>страхова компанія занизила оцінку збитку;</li>
            <li>клієнт є потерпілим, а винуватець навідріз відмовляється визнати провину;</li>
            <li>просто клієнт не знає своїх прав і що можна зробити в тій чи іншій ситуації</li>
        </ul>
        <h4>Звернутися в усіх цих питаннях до професіоналів – єдиний правильний вихід.</h4>
        <p>Завжди при зустрічі з клієнтами ми повторюємо: «Кожен має займатися своєю справою». Просто давайте зважимо ризики самостійного вирішення спору:</p>
        <ol class="highlighted-ordered-list">
            <li>Ви можете не помітити важливі деталі справи, які можуть вплинути на її результат.</li>
            <li>Вам може не вистачити досвіду для ефективного представлення своїх інтересів.</li>
            <li>Ви ризикуєте втратити час і гроші на неефективні дії.</li>
        </ol>
    </div>
</section>

<section class="section m-tertiary">
    <div class="container">
        <h2>У яких випадках потрібна допомога автоадвоката? Чим ми можемо вам допомогти?</h2>
        <p>
            Незалежно від того, наскільки ви професійний водій та який маєте стаж – від ДТП на дорогах не застрахований ніхто.
        </p>
        <p>Наша команда висококваліфікованих юристів у Харкові, Вінниці, Києві надасть вам професійну допомогу у вирішенні наступних питань:</p>
        <ul class="highlighted-list">
            <li>сталася ДТП з серйозними наслідками (жертви, тяжкі тілесні ушкодження, пошкодження транспортних засобів та ін.);</li>
            <li>на клієнта склали протокол та буде слухатись справа про притягнення до адміністративної відповідальності;</li>
            <li>безпідставно звинуватили у вживанні алкоголю за кермом;</li>
            <li>автомобіль забрали на штрафмайданчик і не віддають;</li>
            <li>страхова подає регресний позов;</li>
            <li>страхова не виплачує страхове відшкодування;</li>
            <li>страхова компанія занизила оцінку збитку;</li>
            <li>клієнт є потерпілим, а винуватець навідріз відмовляється визнати провину;</li>
            <li>просто клієнт не знає своїх прав і що можна зробити в тій чи іншій ситуації</li>
        </ul>
        <p>Хочете безпечно пересуватися дорогою та не боятися порушення своїх законних прав? Тоді скористайтесь послугами юриста з ДТП Адвокатського об'єднання «вСуді». Помилки законодавства будуть використані для захисту наших клієнтів. Наші фахівці оцінять суму необхідних виплат, перспективу для позитивного вирішення спору, спрогнозують долю справи та відстоять ваші інтереси.</p>
        <p>Завжди при зустрічі з клієнтами ми повторюємо: «Кожен має займатися своєю справою». Просто давайте зважимо ризики самостійного вирішення спору:</p>
        <p><b>Автоадвокат у Харкові, Вінниці, Києві може проконсультувати у головному офісі Адвокатського об'єднання «вСуді», який знаходиться за адресою: Місто Харків, площа Конституції, 1 (у кроковій доступності від станції метро "Площа Конституції", "Історичний музїй").</b></p>
    </div>
</section>

<section class="section m-quaternary">
    <div class="container">
        <h2>Ціни на послуги автоадвокату в Харкові, Вінниці та Києві</h2>
        <div class="table-price-container">
            <table>
                <thead>
                    <tr>
                        <th>Найменування послуги</th>
                        <th>Вартість, грн.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Попередня телефонна консультація</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Консультація з вивчення документів</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Виїзд на місце ДТП</td>
                        <td>2500 / 1 год</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ol class="highlighted-ordered-list">
            <li>Ви можете не помітити важливі деталі справи, які можуть вплинути на її результат.</li>
            <li>Вам може не вистачити досвіду для ефективного представлення своїх інтересів.</li>
            <li>Ви ризикуєте втратити час і гроші на неефективні дії.</li>
        </ol>
        <p>З розцінками на інші послуги адвоката у Харкові, Вінниці, Києві ви можете ознайомитись за <a href="#">посиланням</a>.</p>
        <blockquote>
            <svg width="48" height="48" arria-hidden="true"><use xlink:href="#svg-faq-active"></use></svg>
            <p>ЗАКЛИКАЄМО ВАС: НЕ ВТРАЧАЙТЕ ЧАС ДАРЕМНО!</p>
        </blockquote>

        <p>Практика показує, що у правових суперечках не тільки щодня, а й щогодини мають значення. Упустити можливість оскарження необґрунтованого рішення суду, бути позбавленим можливості оскаржити своє затримання, не мати можливості вільно розпоряджатися своїм майном – ось лише невеликий список того, що може спричинити зволікання у вирішенні складної ситуації.</p>
        <p><b>Укладіть договір з адвокатом Адвокатського об’єднання «вСуді» і отримайте надійний правовий захист. Ваш спокій – наша робота!</b></p>
        <ul class="tags">
            <li>Кримінальні справи</li>
            <li>ДТП</li>
            <li>Кредити</li>
        </ul>
    </div>
</section>
