<section class="l-section m-team">
  <div class="container">
    <div class="l-section__header m-team">Our dream team</div>
    <div class="c-swiper swiper" data-carousel="TeamCarousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/yulia.svg" alt="manager Yulia photo" />
              <div class="team-card__title">Yulia</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+420604921848" class="manager-link">+420 604 921 848</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-yulia" class="toggle" />
                <div class="manager-description__text">
                  Julia is a CEO of the company, working since February 2021. She efficiently manages several projects simultaneously, planning and maintaining constant contact with European partners. She dedicates herself to working with people every day to help candidates find the right job.
                </div>
                <label for="toggle-yulia" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/oleksandr.svg"
                alt="manager Oleksandr photo" />
              <div class="team-card__title">Oleksandr</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+48732675600" class="manager-link">+48 732 675 600</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-oleksandr" class="toggle" />
                <div class="manager-description__text">
                  Oleksandr — our reliable and successful specialist. He is very enthusiastic about helping find work in Europe for your clients, offering support and a professional approach at every stage of the search.
                </div>
                <label for="toggle-oleksandr" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/iryna.svg" alt="manager Iryna photo" />
              <div class="team-card__title">Iryna</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+48732675606" class="manager-link">+48 732 675 606</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-iryna" class="toggle" />
                <div class="manager-description__text">
                  Ira offers personalized service, understanding each client’s unique needs. Ira supports clients at every stage.
                </div>
                <label for="toggle-iryna" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/kate.svg" alt="manager Kate photo" />
              <div class="team-card__title">Kate</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+420770617875" class="manager-link">+420 770 617 875</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-kate" class="toggle" />
                <div class="manager-description__text">
                  Kate knows every detail of our programs, answers quickly, and is always here to help. She is a reliable and experienced manager of our team.
                </div>
                <label for="toggle-kate" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/bohdana.svg"
                alt="manager Bohdana photo" />
              <div class="team-card__title">Bohdana</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+48880512916" class="manager-link">+48 880 512 916</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-bohdana" class="toggle" />
                <div class="manager-description__text">
                  Bohdana makes every client feel cared for. She always stays in touch to guide clients through each step with clarity and kindness.
                </div>
                <label for="toggle-bohdana" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/ivan.svg"
                alt="manager Bohdana photo" />
              <div class="team-card__title">Ivan</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+48880512916" class="manager-link">+48 880 512 916</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-ivan" class="toggle" />
                <div class="manager-description__text">
                  Ivan – our confident and focused team member. Ivan is excellent at communication and pays attention to details. He always ensures clients receive accurate information and fast results.
                </div>
                <label for="toggle-ivan" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/viktoria.svg"
                alt="manager Bohdana photo" />
              <div class="team-card__title">Victoria</div>
            </div>
            <div class="team-card__content">
              <a href="#" class="manager-link"></a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-victoria" class="toggle" />
                <div class="manager-description__text">
                  Victoria – Social Media Manager. Victoria manages the social media of Viza Work Agency across Instagram, TikTok, and Facebook. She ensures that all job offers, updates, our latest opportunities in Europe and agency news are communicated clearly and on time.
                </div>
                <label for="toggle-victoria" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-card">
            <div class="team-card__header">
              <img class="team-card__image" src="/assets/static/images/manager/anhelina.svg"
                alt="manager Bohdana photo" />
              <div class="team-card__title">Anhelina</div>
            </div>
            <div class="team-card__content">
              <a href="tel:+48730832149" class="manager-link">+48 730 832 149</a>
              <div class="manager-description">
                <input type="checkbox" id="toggle-anhelina" class="toggle" />
                <div class="manager-description__text">
                  Anhelina takes every case seriously and works hard to make sure all documents are prepared on time. Her dedication ensures successful outcomes
                </div>
                <label for="toggle-anhelina" class="show-more" data-more="Show more" data-less="Show less"></label>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-controls m-team">
        <div class="swiper-button-prev">
          <img src="/assets/static/icons/arrow-icon-left.svg" alt="Previous" />
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next">
          <img src="/assets/static/icons/arrow-icon-right.svg" alt="Next" />
        </div>
      </div>
    </div>
  </div>
</section>
