<section class="section m-quaternary section-breadcrumbs m-border-bottom">
    <div class="container">
        <ul class="c-breadcrumbs list-unstyled">
            <li class="c-breadcrumbs__item"><a href="/">Головна</a></li>
            <li class="separator">&gt;</li>
            <li class="c-breadcrumbs__item">Шаблони документів</li>
        </ul>
    </div>
</section>

<section class="section m-quaternary successful-cases-section">
    <div class="container">
        <h1>Шаблони документів</h1>

            <div class="c-grid m-flat-tiles">
                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                    <div class="c-tile__actions">
                        <a href="#" class="icon-button m-download" title="Завантажити">
                            <svg width="18" height="18">
                                <use xlink:href="#svg-download" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                </div>

                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                </div>

                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                </div>

                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                </div>

                <div class="c-tile m-flat">
                    <div class="c-tile__icon">
                        <svg width="14" height="18">
                            <use xlink:href="#svg-word-icon" />
                        </svg>
                    </div>
                    <span class="c-tile__text">Заява про видачу судового наказу</span>
                </div>
            </div>
            <div class="text-center">
                <button class="button m-quaternary">Показати ще</button>
            </div>
    </div>
</section>