<form class="c-form" method="post" novalidate>
    <div class="c-form-group">
        <label for="name">Ім'я</label>
        <input id="name" type="text" class="form-input" placeholder="Олександр Білик" required />
    </div>
    <div class="c-form-group">
        <label for="phone">Номер телефону</label>
        <input id="phone" type="tel" class="form-input js-phone" placeholder="" required />
        <input type="hidden" id="phone_e164" name="phone_e164" />
    </div>
    <button class="button" aria-label="Надіслати форму щоб запланувати консультацію">Надіслати</button>
</form>