<div class="c-form-message">
    <div class="c-form-message__icon">
        <svg width="56" height="56">
            <use xlink:href="#svg-error" />
        </svg>
    </div>
    <div class="c-form-message__content">
        <div class="c-form-message__title m-error">Щось пішло не так. </br>Спробуйте перезапустити форму і спробуйте ще раз.</div>
        <button class="button button-secondary m-small d-flex justify-self-center" type="reset">
            Перезавантажити форму
        </button>
    </div>
</div>