@use "../helpers" as *;

.about {
  &__title {
    display: flex;
    justify-content: center;
    padding-top: 346px;
    margin-bottom: 24px;
    font-size: 24px;
    opacity: 0.4;
    font-weight: 500;
    line-height: 32px;
    @include mobile-s {
      text-align: left;
      justify-content: left;
      margin-bottom: 16px;
      font-size: 20px;
      padding-top: 280px;
    }
  }
  &__description {
    @include tablet {
      padding: 0 40px;
      text-align: center;
    }
    @include mobile-s {
      text-align: left;
      padding: 0;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.72px;
    }
    display: flex;
    justify-content: center;
    padding: 0 188px;
    color: #c7c7c7;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
    text-align: center;
    transition: color 1.5s ease-in;
    &.active {
      color: #000;
    }
  }
}

.m-about {
  margin-top: 80px;
  background-image: url("/assets/static/images/planet.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  @include mobile-s {
    background-position: 65% 0;
  }
}
