@use "../helpers" as *;

.button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 10px;
  background: var(--color-accent);
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-size: rem(18);
  line-height: rem(24);
  padding: rem(19) rem(40);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .25s;

  &.w-100 {
    width: 100%;
  }

  &.m-small {
    font-size: 16px;
  }

  &.m-middle {
    font-size: 18px;
  }

  &.m-large {
    font-size: 20px;
  }

  &:hover {
    background: #F82C26;
  }

  @media (min-width: 1200px) {
    padding: rem(19) rem(49);
  }

  &.m-secondary {
    background: transparent;
    border: 1px solid #687084;
    color: #687084;
    line-height: 1;
    padding: rem(12) rem(14);
    transition: color .25s;

    &:hover {
      color: #D41D17;
    }
  }

  &.m-tertiary {
    background: #687084;
    color: #fff;
    transition: 0.2s background;

    &:hover {
      background: #2A344A;
    }
  }

  &.m-quaternary {
    border: 1px solid #CACFDA;
    background: transparent;
    color: #fff;
    transition: color .25s;

    &:hover {
      color: #D41D17;
    }
  }

  &.m-primary {
    background: var(--color-grey-100);
    color: #fff;
    text-transform: none;
    font-size: 16px;
    line-height: 1;
    padding: rem(12) rem(14);
    transition: color .25s;

    &:hover {
      background-color: #2A344A;
    }
  }

  &.m-search {
    padding: 15px 18px;
  }
}

.icon-button {
  display: inline-flex;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;

  &.m-white {
    svg {
      color: #fff;
    }
  }

  &.m-grey {
    svg {
      color: #687084;
    }
  }


  &.m-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
}