@use "./../helpers/media" as *;

.card {
  position: relative;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.m-country {
      align-items: start;
    }

    @include mobile-s {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 12px;
      text-align: left;

      &.m-country {
        flex-direction: column;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;

      @include mobile-s {
        text-align: left;
      }
    }

    &__icon {
      width: 28px;
      height: 28px;
      margin-bottom: 8px;
      flex-shrink: 0;
    }

    &__title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;

      @include mobile-s {
        font-size: 16px;
        text-align: left;
      }

      &.m-country {
        text-align: left;
      }
    }

    &__description {
      color: var(--color-grey-30);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.16px;

      &.m-country {
        align-items: start;
        text-align: left;
      }

      @include mobile-s {
        font-size: 14px;
        text-align: left;
      }
    }

    &.m-services{
      margin: 16px 0 0 16px;
      border-radius: 9.582px 0 9.582px 9.582px;
      border: 0.5px solid #505254;
      background: #FFF;
    }
  }

  .card-body {
    .image-background {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);

      @include mobile-s {
        max-height: 160px;
      }
    }
  }

  .card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: var(--text-white);
    background: linear-gradient(180deg,
        rgba(24, 27, 31, 0) 0%,
        rgba(24, 27, 31, 0.8) 69.77%);
    border-radius: 16px;

    &__title {
      color: var(--text-white);
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: -0.24px;

      @include mobile-s {
        font-size: 18px;
      }
    }

    &__subtitle {
      color: var(--text-white);
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;

      @include mobile-s {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
        line-height: 18px;
      }
    }
  }

  &.m-sticky {
    position: sticky;
    top: 85px;
    z-index: 1;
  }

  &-vacancies {
    border-radius: 16px;
    border: 1px solid rgba(37, 40, 44, 0.08);
    background: #fff;

    &__body {
      display: flex;
      column-gap: 12px;
      padding: 12px;

      .card-image {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 8px;
      }

      .card-content {
        &__title {
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          /* 133.333% */

          &.m-green {
            color: var(--color-green);
            font-size: 16px;
            font-weight: 700;
          }

          &.m-grey {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0.16px;
          }
        }

        &__description {
          color: var(--color-grey-30);
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          /* 137.5% */
          letter-spacing: 0.16px;

          &.m-green {
            color: var(--color-green);
          }
        }
      }
    }

    &.m-green {
      background-color: var(--color-green-10);
    }

    &.m-grey {
      background-color: var(--color-grey-20);
    }
  }

  &-offices {
    &__background {
      position: static;
      transform: none;
      width: 100%;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &-badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 300px;
    margin: 24px;
    color: #414151;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.24px;

    &__icon {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;

    .m-location {
      display: flex;
      align-items: center;
      color: #0e0e14;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      column-gap: 12px;

      &__icon {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  .m-managers {
    &__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__grid-mobile {
      display: flex;
    }
  }

  &-managers {
    margin-top: 50px;
    min-width: 290px;
    &__img {
      border: none !important;
      width: 24px !important;
      height: 24px !important;
    }
    &__title {
      margin-top: 8px;
      color: #000;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      @include tablet {
        text-align: center;
      }
    }
    &__subtitle {
      text-align: center;
      color: #8e8da4;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.16px;
      @include tablet {
        text-align: center;
      }
    }
  }

  &.m-services {
    border-radius: 24px;
    border: 1px solid rgba(37, 40, 44, 0.10);
    background: linear-gradient(180deg, #F5F6F8 0%, #F5F6F8 100%);
  }
}
