@use "../helpers" as *;

.c-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__image {
      display: flex;
      margin-bottom: 16px;
      justify-content: center;
    }

    &__title {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.24px;
      margin-bottom: 6px;
    }

    &__subtitle {
      color: #858585;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }

  &-message {
    &__icon {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.24px;
      margin-bottom: 6px;
      text-align: center;
    }

    &__description {
      color: #858585;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
    }
  }

  label {
    display: block;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 6px;
  }

  input,
  textarea {
    display: block;
    border: 1px solid #687084;
    background-color: #fff;
    font-size: 18px;
    width: 100%;
    color: #2A344A;

    &.m-secondary {
      border: 1px solid #CACFDA;
      background: #2A344A;
      color: #fff;
    }

    &.m-large {
      height: 62px;
    }
  }

  input:hover,
  textarea:hover {
    border: 1px solid #373229;

    &.m-secondary {
      border: 1px solid #FFF;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: #687084;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 12px 16px;
  }

  input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #D2D1CF;
    accent-color: #FFF;
  }

  input[type="checkbox"]:hover {
    border-radius: 6px;
    accent-color: #3B3730;
  }

  input[type="checkbox"]:checked {
    border-radius: 6px;
    accent-color: #25221C;
  }

  input.m-error,
  textarea.m-error {
    border: 1px solid var(--color-accent);;
    background: #FFF;

    &.m-secondary {
      border: 1px solid var(--color-accent);;
      background: #2A344A;
    }
  }

  textarea {
    resize: vertical;
    min-height: 120px;
    position: relative;
  }

  &-group {
    margin-bottom: 0;
    &.m-horizontal {
      display: flex;
    }

    &.m-vertical {
      display: flex;
      flex-direction: column;
    }

    @include mobile {
      &.m-sm-vertical {
        display: flex;
        flex-direction: column;
        gap: 16px;
      } 
    }

    @include tablet {
      &.m-md-vertical {
        display: flex;
        flex-direction: column;
        gap: 16px;
      } 
    }

    &:has(input[required]:not([type="hidden"]),
        .iti input[required],
        input[id$="_e164"][required],
        textarea[required],
        select[required]) > label::after {
        content: '*';
        color: var(--color-accent);
        margin-left: 4px;
    }
  }

  .iti {
    width: 100%;
  }

  .iti--separate-dial-code .iti__selected-dial-code {
    font-weight: 700;
  }

  .iti__country-list {
    max-height: 240px;
    overflow: auto;
  }
}