.icon-button {
    &.m-unstyled {
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background: none;
        border: none;
        padding: 0;
    }
}