@use '../helpers' as *;

.logo {
  display: flex;
  column-gap: 10px;
  position: relative;

  &__icon {
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  &__text {
      pointer-events: none !important;
  }

  &:hover &__icon {
    transform: scale(1.2);
  }
}