@use '../helpers' as *;

html.is-locked,
body.is-locked {
    overflow: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    z-index: var(--z-index-modal);
    overflow-y: scroll;

    &.m-open {
        display: block;
    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        background-color: var(--color-bg);
        padding: 26px 24px;

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include mobile-above {
                justify-content: center;
            }
        }

        &__title {
            font-size: 36px;
            font-weight: bold;

            @include mobile-above {
                font-size: 24px;
            }
        }

        &__actions {
            display: flex;
            justify-content: space-between;
            gap: 16px;
        }

        &.m-search {
            svg {
                color: var(--color-accent);
            }
            
            @include mobile-above {
                background-color: var(--color-primary);
                color: var(--color-secondary);
            }

            @include mobile {
                svg {
                    color: var(--color-primary);
                }
            }
        }
    }

    &-wrapper {
        position: relative;
        max-width: 458px;
        margin: 13vh auto;
        background: #fff;

        @include mobile {
            max-width: none;
            margin: 0;
        }

        @include mobile-above {
            max-width: calc(100% - 250px);
        }
    }

    /* Плаваюча кнопка */
    &-actions {
        position: absolute;
        top: 0px;
        right: -64px;
        z-index: calc(var(--z-index-modal) + 1);

        @include mobile {
            position: fixed;
            top: auto;
            right: auto;
            left: 50%;
            transform: translateX(-50%);

            /* safe-area для iOS */
            @supports (top: env(safe-area-inset-top)) {
                top: calc(env(safe-area-inset-top) + 16px);
            }
        }
    }

    &-content {
        padding: 40px 24px;
    }

    &-close {
        position: absolute;
        right: 24px;
        padding: 0;
        border: 0;
        cursor: pointer;
    }
}