@use '../helpers' as *;

.socials {
  &__list {
    display: flex;
    column-gap: 8px;

    @include mobile-s {
      column-gap: 16px;
    }
  }

  &__item {
    display: flex;
    padding: 6px;
  }

  &__link {
    color: var(--color-icon);

    @include hover {
      color: var(--color-icon-hover);
      transform: scale(1.05);
    }

    &.m-secondary {
      color: var(--color-icon-secondary);

      @include hover {
        color: var(--color-icon-secondary-hover);
      }
    }
  }
}