<section class="l-section">
  <div class="container">
    <div class="l-section__header">Opened work in</div>
    <div class="quick-filter-container">
      <div class="c-quick-filters">
        <ul class="c-quick-filters__list">
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/hungary.html">
              <img width="24" height="24" src="../assets/static/icons/countries/hungary.svg" alt="hungary icon" />
              Hungary
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link active" href="/country/germany.html">
              <img width="24" height="24" src="../assets/static/icons/countries/germany.svg" alt="germany icon" />
              Germany
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/czech-republic.html">
              <img width="24" height="24" src="../assets/static/icons/countries/czech-republic.svg"
                alt="czech-republic icon" />
              Czech Republic
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/kyrgyzstan.html">
              <img width="24" height="24" src="../assets/static/icons/countries/kyrgyzstan.svg" alt="kyrgyzstan icon" />
              Kyrgyzstan
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/ukraine.html">
              <img width="24" height="24" src="../assets/static/icons/countries/ukraine.svg" alt="ukraine icon" />
              Ukraine (Lviv)
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/serbia.html">
              <img width="24" height="24" src="../assets/static/icons/countries/serbia.svg" alt="serbia icon" />
              Serbia
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/lithuania.html">
              <img width="24" height="24" src="../assets/static/icons/countries/lithuania.svg" alt="lithuania icon" />
              Lithuania
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/poland.html">
              <img width="24" height="24" src="../assets/static/icons/countries/poland.svg" alt="poland icon" />
              Poland
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/portugal.html">
              <img width="24" height="24" src="../assets/static/icons/countries/portugal.svg" alt="portugal icon" />
              Portugal
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/turkey.html">
              <img width="24" height="24" src="../assets/static/icons/countries/turkey.svg" alt="turkey icon" />
              Turkey
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/slovakia.html">
              <img width="24" height="24" src="../assets/static/icons/countries/slovakia.svg" alt="slovakia icon" />
              Slovakia
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="l-section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 order-sm-last">
        <div class="card m-sticky">
          <div class="card-body">
            <img class="image-background" src="../assets/static/images/country-image/germany.svg" alt="germany image" />
            <div class="card-info">
              <div class="card-info__title">About country</div>
              <p class="card-info__subtitle">
                Europe’s economic leader. High salaries, strong worker
                rights, and many legal job options for skilled and unskilled
                workers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="vacancies">
          <h1 class="vacancies__header">Germany</h1>
          <div class="vacancies__section">
            <p class="vacancies__subtitle">
              Unskilled Vacancies
            </p>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/chicken-farm.svg" alt="chicken farm" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Chicken farm</p>
                      <span class="card-content__description">Loading/unloading, cleaning</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/meat-factories.svg" alt="meat factories" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Meat factories</p>
                      <span class="card-content__description">Meat handling, packaging</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/animal-food-factories.svg" alt="farm" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Animal food factories</p>
                      <span class="card-content__description">Packing and production</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="vacancies__section">
            <p class="vacancies__subtitle">
              Skilled worker positions (requires diploma):
            </p>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/welders-electricians-mechanics.svg"
                        alt="welders, electricians, mechanics" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Welders, electricians, mechanics</p>
                      <span class="card-content__description">Specialized roles, certification needed</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="vacancies__section">
            <p class="vacancies__subtitle">
              Conditions
            </p>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                <div class="card card-vacancies m-green">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-green">Unskilled: €13–13.5/hour</p>
                      <span class="card-content__description m-green">Skilled: to be determined after diploma
                        verification</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies m-grey">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-grey">35 hours/week, Monday–Friday</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies m-grey">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-grey">Accommodation: €350–400/month</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>