<section class="l-section">
  <div class="container">
    <div class="l-section__header">Opened work in</div>
    <div class="quick-filter-container">
      <div class="c-quick-filters">
        <ul class="c-quick-filters__list">
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link active" href="/country/hungary.html">
              <img width="24" height="24" src="../assets/static/icons/countries/hungary.svg" alt="hungary icon" />
              Hungary
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/germany.html">
              <img width="24" height="24" src="../assets/static/icons/countries/germany.svg" alt="germany icon" />
              Germany
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/czech-republic.html">
              <img width="24" height="24" src="../assets/static/icons/countries/czech-republic.svg"
                alt="czech-republic icon" />
              Czech Republic
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/kyrgyzstan.html">
              <img width="24" height="24" src="../assets/static/icons/countries/kyrgyzstan.svg" alt="kyrgyzstan icon" />
              Kyrgyzstan
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/ukraine.html">
              <img width="24" height="24" src="../assets/static/icons/countries/ukraine.svg" alt="ukraine icon" />
              Ukraine (Lviv)
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/serbia.html">
              <img width="24" height="24" src="../assets/static/icons/countries/serbia.svg" alt="serbia icon" />
              Serbia
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/lithuania.html">
              <img width="24" height="24" src="../assets/static/icons/countries/lithuania.svg" alt="lithuania icon" />
              Lithuania
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/poland.html">
              <img width="24" height="24" src="../assets/static/icons/countries/poland.svg" alt="poland icon" />
              Poland
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/portugal.html">
              <img width="24" height="24" src="../assets/static/icons/countries/portugal.svg" alt="portugal icon" />
              Portugal
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/turkey.html">
              <img width="24" height="24" src="../assets/static/icons/countries/turkey.svg" alt="turkey icon" />
              Turkey
            </a>
          </li>
          <li class="c-quick-filters__item">
            <a class="c-quick-filters__link" href="/country/slovakia.html">
              <img width="24" height="24" src="../assets/static/icons/countries/slovakia.svg" alt="slovakia icon" />
              Slovakia
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="l-section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 order-sm-last">
        <div class="card m-sticky">
          <div class="card-body">
            <img class="image-background" src="../assets/static/images/country-image/hungary.svg" alt="Hungary image" />
            <div class="card-info">
              <div class="card-info__title">About country</div>
              <p class="card-info__subtitle">
                Central European country with high demand in factories and services. Offers legal jobs, affordable
                living, and simple visa procedures.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="vacancies">
          <h1 class="vacancies__header">Hungary</h1>
          <div class="vacancies__section">
            <p class="vacancies__subtitle">
              Vacancies
            </p>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/seasonal-harvesting.svg" alt="Seasonal harvesting" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Seasonal harvesting</p>
                      <span class="card-content__description">Fruits and vegetables</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/animal-care.svg" alt="Animal care" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Animal care</p>
                      <span class="card-content__description">Fruits and vegetables</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="vacancies__item">
                <div class="card card-vacancies">
                  <div class="card-vacancies__body">
                    <div class="card-image">
                      <img src="../assets/static/images/works/greenhouse.svg" alt="Greenhouse & fieldwork" />
                    </div>
                    <div class="card-content">
                      <p class="card-content__title">Greenhouse & fieldwork</p>
                      <span class="card-content__description">Planting, irrigation, weeding</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="vacancies__section">
            <p class="vacancies__subtitle">
              Conditions
            </p>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                <div class="card card-vacancies m-green">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-green">€700–1000/month</p>
                      <span class="card-content__description m-green"></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies m-grey">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-grey">5–6 days/week, 10–12 hours/day</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies m-grey">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-grey">Employer assigns job site based on visa date and labor need
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="vacancies__item">
                <div class="card card-vacancies m-grey">
                  <div class="card-vacancies__body">
                    <div class="card-content">
                      <p class="card-content__title m-grey">Accommodation and transport provided</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>