<div class="modal-wrapper m-search">
    <div class="modal-header m-search bg-blue">
        <div class="modal-header__content">
            <div class="modal-header__title d-none d-xs-flex d-sm-flex">Пошук</div>
            <div class="modal-header__title text-sm-center d-md-flex d-lg-flex d-xl-flex d-sm-none">Пошук по
                сайту</div>
            <button href="#" class="modal-close icon-button" data-modal-close="SearchForm"
                aria-label="Закрити пошук">
                <svg width="48" height="48">
                    <use xlink:href="#close" />
                </svg>
            </button>
        </div>
    </div>
    <div class="modal-content">
        <div include-html="/template/forms/search.form.html"></div>
        <div class="divider my-xs-4 my-sm-4 my-md-5 my-lg-5 my-xl-5"></div>
        <div class="">
            <div class="h4 text-sm-center text-md-left text-center text-secondary fw-700 mb-4">Рубрики</div>
            <ul class="tag-list m-center">
                <li class="tag-list__item"><a href="#" class="tag-list__link">Сімейний адвокат</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Автоадвокат</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">ДТП</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Військовий юрист</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Кредити</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Пенсія</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Спадщина</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Адвокат у кримінальних справах</a>
                </li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Статті</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Адвокат по наркотикам</a></li>
                <li class="tag-list__item"><a href="#" class="tag-list__link">Юрист із земельних питань</a></li>
            </ul>
        </div>
    </div>
</div>