@use "./helpers/media" as *;

$grid-columns: 12;

$gap-values: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

// default gutters
:root {
  --gutter-x: 1.5rem;
  --gutter-y: 1.5rem;
}

// --- GAP UTILS ---
@each $key, $val in $gap-values {
    .g-#{$key} {
      --gutter-x: #{$val};
      --gutter-y: #{$val};
    }
  
    .gx-#{$key} {
      --gutter-x: #{$val};
    }
  
    .gy-#{$key} {
      --gutter-y: #{$val};
    }
  }

// --- ROW ---
.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(-1 * var(--gutter-x, 1.5rem) * 0.5);
    margin-block-start: calc(-1 * var(--gutter-y, 0) * 1);
  
    > * {
      padding-inline: calc(var(--gutter-x, 1.5rem) * 0.5);
      margin-block-start: var(--gutter-y, 0);
      flex-shrink: 0;
      width: 100%;
    }
  }
  
  // --- COLUMNS ---
  .col {
    flex: 1 0 0%;
  }
  
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      flex: 0 0 percentage($i / $grid-columns);
      max-width: percentage($i / $grid-columns);
    }
  }
  
  @include laptop {
    @for $i from 1 through $grid-columns {
      .col-lg-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
    }
  }
  
  @include tablet {
    @for $i from 1 through $grid-columns {
      .col-md-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
    }
  }
  
  @include mobile {
    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
    }
  }
  
  @include mobile-s {
    @for $i from 1 through $grid-columns {
      .col-xs-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
    }
  }
