@use 'helpers' as *;

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(
      (var(--100vw) - var(--container-width)) / 2
    );
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: '';
      bottom: 100%;
    }
  }

  &--bottom {
    &::after {
      content: '';
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}

.circle-icon {
  --circleSize: #{rem(52)};
  --circleMarginLeft: #{rem(20)};

  position: relative;
  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

  @include laptop {
    --circleSize: #{rem(44)};
    --circleMarginLeft: #{rem(14)};
  }

  @include mobile {
    --circleSize: #{rem(40)};
  }

  &::after {
    @include square(var(--circleSize));
    @include abs-y;

    content: '';
    right: 0;
    background:
      url('../../icons/arrow-top-right_black.svg') center no-repeat
      var(--color-accent);
    border-radius: 50%;
  }
}

// Базові класи
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

// Laptop (width > 1440.98)
.d-laptop-none {
  @include laptop-above {
    display: none !important;
  }
}
.d-laptop-block {
  @include laptop-above {
    display: block !important;
  }
}
.d-laptop-inline {
  @include laptop-above {
    display: inline !important;
  }
}
.d-laptop-inline-block {
  @include laptop-above {
    display: inline-block !important;
  }
}

// Tablet (width <= 1023.98)
.d-tablet-none {
  @include tablet {
    display: none !important;
  }
}
.d-tablet-block {
  @include tablet {
    display: block !important;
  }
}
.d-tablet-inline {
  @include tablet {
    display: inline !important;
  }
}
.d-tablet-inline-block {
  @include tablet {
    display: inline-block !important;
  }
}

// Mobile (width <= 767.98)
.d-mobile-none {
  @include mobile {
    display: none !important;
  }
}
.d-mobile-block {
  @include mobile {
    display: block !important;
  }
}
.d-mobile-inline {
  @include mobile {
    display: inline !important;
  }
}
.d-mobile-inline-block {
  @include mobile {
    display: inline-block !important;
  }
}

// Mobile-s (width <= 375.98)
.d-mobile-s-none {
  @include mobile-s {
    display: none !important;
  }
}
.d-mobile-s-block {
  @include mobile-s {
    display: block !important;
  }
}
