@use "helpers" as *;

:root {
  --color-light: #ffffff;

  --color-dark: #2A344A;
  --color-dark-10: #1a1a1a;
  --color-dark-12: #1B1B24;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-grey:#A6A6AF;
  --color-grey-10: #A6A6AF1A;
  --color-grey-20: #F7F7F7;
  --color-grey-30: #8E8DA4;
  --color-grey-40: #848484;
  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;

  --color-accent: #ffd11a;
  --color-red: #ff5500;
  --color-green: #318633;
  --color-green-10: #EBF8DF;

  --font-family-base: "Urbanist", sans-serif;
  --font-family-accent: "Urbanist", sans-serif;

  --text-primary: #000;
  --text-secondary: #c7c7c7;
  --text-white: #fff;

  --text-color-btn-primary: #301d00;
  --bg-btn-primary: #ffc107;
  --bg-btn-primary-hover: #ffcb5c;
  --bg-btn-primary-active: #ffcc5d;
  --border-btn-primary: #cd9600;
  --border-btn-primary-hover: #a47e00;
  --border-btn-primary-active: #aa8300;
  --border-radius-btn: 120px;
  --border-btn: 1px solid #cd9600;
  --text-color-btn-secondary: #24242a;
  --bg-btn-secondary: #fff;
  --border-btn-secondary: rgba(36, 36, 42, 0.2);
  --border-btn-secondary-hover: rgba(36, 36, 42, 0.4);
  --border-btn-secondary-active: rgba(36, 36, 42, 0.7);

  --color-icon: #24242A;
  --color-icon-hover: #3F3F59;
  --color-icon-secondary: #655D4F;
  --color-icon-secondary-hover: #7e7e81;

  --text-color-footer: #655D4F;

  --shadow: 0 0 0 #{rem(3)} #191919;

  --z-index-overlay: 100;
  --z-index-modal: 101;

  --container-width: 1240px;
  --container-padding-x: 56px;

  --transition-duration: 0.2s;

  --100vw: calc(100vw - var(--scrollbar-width));

  @include laptop {
    --container-width: 1440px;
  }

  @include tablet {
    --container-width: 1024px;
    --container-padding-x: 12px;
  }

  @include mobile {
    --container-width: 768px;
    --container-padding-x: 24px;
  }

  @include mobile-s {
    --container-width: 375px;
    --container-padding-x: 24px;
  }
}
