<div class="section consult-section">
    <div class="container consult-section__container">
        <div>
            <div class="h2 text-sm-center m-animate" data-js-observer>Домовитися щодо консультації</div>
            <div class="contacts-block">
                <div class="contacts-block__header">Наші контакти:</div>
                <ul class="contacts-block__list">
                    <li>
                        <a href="tel:+380991981986" class="contacts-block__phone"
                            aria-label="Зателефонувати нам на номер +38 (099) 198-19-86">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-phone" />
                            </svg>
                            +38 (099) 198-19-86
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380732323663" class="contacts-block__phone"
                            aria-label="Зателефонувати нам на номер +38 (073) 232-36-63">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-phone" />
                            </svg>
                            +38 (073) 232-36-63
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380501567392" class="contacts-block__phone"
                            aria-label="Зателефонувати нам на номер +38 (050) 156-73-92">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-phone" />
                            </svg>
                            +38 (050) 156-73-92
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380680620763" class="contacts-block__phone"
                            aria-label="Зателефонувати нам на номер +38 (068) 062-07-63">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-phone" />
                            </svg>
                            +38 (068) 062-07-63
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contacts-block">
                <div class="contacts-block__header">Наша адреса:</div>
                <ul class="contacts-block__list">
                    <li>
                        <a href="www.google.map/" class="contacts-block__address"
                            aria-label="Відкрити в Google Maps адресу м. Харків, пл. Конституції, 1">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-location" />
                            </svg>Харків, пл. Конституції, 1</a>
                    </li>
                    <li><a href="" class="contacts-block__address">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-location" />
                            </svg>Вінниця, вул. Коріатовичів, 172
                        </a></li>
                    <li><a href="" class="contacts-block__address">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-location" />
                            </svg>Київ, вул. Велика Васильківська, 116</li>
                    </a>
                    <li><a href="" class="contacts-block__address">
                            <svg width="24" height="24">
                                <use xlink:href="#svg-location" />
                            </svg>Одеса, вул. Єврейська, 10
                        </a></li>
                </ul>
            </div>
            <div class="contacts-block">
                <div class="contacts-block__header">Графік роботи:</div>
                <ul class="contacts-block__body">
                    <li><span class="contacts-block__gray">пн-пт:</span> 09:00 - 18:00</li>
                    <li><span class="contacts-block__gray">сб-нд:</span> 10:00 - 14:00</li>
                </ul>
            </div>
            <div class="d-flex justify-content-sm-center" include-html="/template/social.html"></div>
        </div>
        <div class="b-consultation-form">
            <div class="b-consultation-form__header">Заповніть заявку -<br />отримайте консультацію</div>
            <div include-html="/template/forms/inquire.form.html"></div>
            <div class="divider my-5"></div>
            <a href="https://t.me/AO_vSude" class="button m-secondary m-icon w-100"
                aria-label="Перейти в телеграм щоб написати нам">
                <svg width="32" height="32">
                    <use xlink:href="#telegram" />
                </svg>Написати в телеграм</a>
        </div>
    </div>
</div>

