<section class="section other-services m-quaternary m-border-top m-border-bottom">
    <div class="container">
        <h2 class="other-services__title">Інші послуги</h2>

        <div class="other-services__grid">

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#simeyniy_advokat_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">СІМЕЙНИЙ АДВОКАТ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#avtoadvokat_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">АВТОАДВОКАТ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#military_advokat_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">ВІЙСЬКОВИЙ ЮРИСТ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#juryst_spadkovi_spravy_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">ЮРИСТ У СПАДКОВИХ СПРАВАХ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#juryst_podatkove_pravo_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">ЮРИСТ З ПОДАТКОВОГО ПРАВА</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#juryst_zemelne_pytanya_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">ЮРИСТ ІЗ ЗЕМЕЛЬНИХ ПИТАНЬ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#advocat_po_narkotykam_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">АДВОКАТ ПО НАРКОТИКАМ</span>
            </a>

            <a href="" class="service-card">
                <div class="service-card__icon">
                    <svg width="64" height="64">
                        <use xlink:href="#jurodychne_suprovidjenya_w_x64" />
                    </svg>
                </div>
                <span class="service-card__text">ЮРИДИЧНЕ СУПРОВОДЖЕННЯ</span>
            </a>
        </div>
    </div>
</section>